# ===========================
# Dependencies
# ===========================
node_modules/

# ===========================
# Reports
# ===========================
reports/

# ===========================
# Environment variables
# ===========================
.env
.env.*
!.env.example

# ===========================
# Logs
# ===========================
*.log
logs/

# ===========================
# OS
# ===========================
.DS_Store

# ===========================
# IDE
# ===========================
.vscode/
.idea/

# ===========================
# Local Postman environments
# ===========================
environments/smoke/*local.postman_environment.json

# ===========================
# npm audit
# ===========================
audit*.json