# ==========================
# Dependencies
# ==========================
node_modules/

# ==========================
# Reports
# ==========================
reports/
newman/

# ==========================
# Environment variables
# ==========================
.env
.env.*
!.env.example

# ==========================
# Logs
# ==========================
*.log

# ==========================
# OS
# ==========================
.DS_Store
**/.DS_Store

# ==========================
# IDE
# ==========================
.vscode/
.idea/

# ==========================
# Postman local environments
# ==========================
environments/smoke/*local.postman_environment.json

